.container{
    display: flex ;
    align-items: center;
    gap:300px;
}
.imgContainer{
    flex:1;
    height: 500px;
    position: relative;
}
.img{
    object-fit: contain;
}
.formConatainer{
    flex:1;

    
}
.form{
    display: flex;
    flex-direction: column;
    gap:2px;
}
.form input,
.form textarea{
    padding: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--bgSoft);
    color: var(--text);
    width: 400px;
    
   
}
.form button{
    padding: 20px;
    background-color: var(--btn);
    color: var(--text);
    font-weight: bold;
    border: 5px;
    cursor: pointer;
}
@media (max-width:1024px) {
    .container{
       flex-direction: column;
       gap:0 ;
    }
    
}
@media (max-width:768px) {
    .container{
       flex-direction: column;
       gap:0 ;
    }
    
}